<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Calorie and Nutrition Tracker</title>
    <h1>This application will help you get healthy by tracking your caloric and nutrient intake every day and compare it to the reccomended daily value</h1>
    <h2></h2>
  </head>
  <body>
    <form action="/data" method = "POST">
      <p>Enter a Food here: <input type = "text" name = "Food" /></p>
      <!-- <p>City <input type = "text" name = "City" /></p>
      <p>State <input type = "text" name = "State" /></p> -->
      <p><input type = "submit" value = "Submit" /></p>
  </form>
      
  </body>
</html>