<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Calorie and Nutrition Tracker</title>
    <h1>Food Diary</h1>
    <h2>Calorie and Nutrition Tracker</h2>
    <h3>This application will help you get healthy by tracking your caloric and nutrient intake every day and compare it to the reccomended daily value</h3>
  </head>
  <body>
        <p> {{itemadded}} 
        <br> {{ itemfacts }}
        <!-- <br> {{ resultbrand }}
        <br> {{ resultcals }}
        <br> {{ resultserving }} -->
        </p>
    <form action="/" method = "POST">
      <p><input type = "Add Another Food" value = "Add Another Food" /></p>
  </form>
      
  </body>
</html>